<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cultivos 🌱</h4>
          <p class="category">Registrar Cultivos😁</p>
        </div>

        <div class="card-body">
          <!-- link con icono de + -->
          <a
            href="#"
            class="btn btn-primary btn-icon btn-sm"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            <i class="fa fa-plus"></i>
          </a>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-lg"
              role="document"
            >
              <div class="modal-content" id="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Registrar Producto
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="/rCultivos">
                    <div class="form-group">
                      <label for="nombreProducto">Nombre del Producto</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nombreProducto"
                        name="nombreProducto"
                        placeholder="Opcional"
                      />
                    </div>
                    <div class="form-group">
                      <label for="peso">Peso</label>
                      <input
                        type="text"
                        class="form-control"
                        id="peso"
                        name="peso"
                        placeholder="Peso del Producto o saco"
                      />
                    </div>
                    <div class="form-group">
                      <label for="cantidad">Cantidad</label>
                      <input
                        type="number"
                        class="form-control"
                        id="cantidad"
                        name="cantidad"
                        placeholder="Cantidad del Producto o saco"
                      />
                    </div>
                    <div class="form-group">
                      <label for="fecha">Fecha</label>
                      <input
                        type="date"
                        class="form-control"
                        id="fecha"
                        name="fecha"
                      />
                    </div>
                    <div class="form-group">
                      <label for="categoria">Categoría</label>
                      <select class="form-control" id="select" name="categoria">
                        <option value="">Selecciona una categoría</option>
                        <!-- Aquí puedes cargar dinámicamente las opciones de categoría desde la base de datos -->
                        <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" class="">
                          <%= categoria.nombre %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Registrar Cultivo</button> -->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Guardar Producto
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin del modal -->

          <div class="table-responsive">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Categoría ID</th>
                  <th scope="col">Peso</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Borrar</th>
                </tr>
              </thead>
              <tbody>
                <% cultivos.forEach((cultivo) => { %>
                <tr>
                  <th scope="row" style="color: aliceblue">
                    <%= cultivo.id %>
                  </th>
                  <td>
                    <% categorias.forEach(categoria => { %> <%
                    if(cultivo.categoria_id == categoria.id) { %> <%=
                    categoria.nombre %> <% } %> <% }); %>
                  </td>

                  <td><%= cultivo.peso %></td>
                  <td><%= cultivo.cantidad %></td>
                  <td><%= new Date(cultivo.fecha).toLocaleDateString() %></td>
                  <td>
                    <a href="#" class="btn btn-success btn-icon btn-sm">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                  <td>
                    <a href="#" class="btn btn-danger btn-icon btn-sm">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
