<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Trabajadores 👨‍🌾</h4>
          <p class="category">Trabajadores Registrados</p>
        </div>
        <div class="card-body">
          <!-- link con icono de + -->
          <a
            href="#"
            class="btn btn-primary btn-icon btn-sm"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            <i class="fa fa-plus"></i>
          </a>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-lg"
              role="document"
            >
              <div class="modal-content" id="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Registrar Producto
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form action="/rTrabajadores" method="post">
                    <div class="row">
                      <div class="col-md-6 pr-md-1">
                        <div class="form-group">
                          <label>Nombres</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Nombres"
                            name="nombres"
                          />
                        </div>
                      </div>
                      <div class="col-md-6 pl-md-1">
                        <div class="form-group">
                          <label>Apellidos</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Apellidos"
                            name="apellidos"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5 p-md-1">
                        <div class="form-group">
                          <label>Celular</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Celular"
                            name="celular"
                          />
                        </div>
                      </div>
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>DNI</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="DNI"
                            name="dni"
                          />
                        </div>
                      </div>
                      <div class="col-md-4 pl-md-1">
                        <div class="form-group">
                          <label> Edad</label>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="ejemplo: 25"
                            name="edad"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Sexo</label>
                          <select class="form-control" name="sexo">
                            <option value="M" style="background-color: black">
                              Masculino
                            </option>
                            <option value="F" style="background-color: black">
                              Femenino
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button
                        type="submit"
                        class="btn accordion adjustments-line"
                      >
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin del modal -->
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Celular 📞</th>
                  <th class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <% trabajadores.forEach((trabajadores)=>{ %>
                <tr data-id="<%= trabajadores.id %>">
                  <td><%= trabajadores.nombres %></td>
                  <td><%= trabajadores.apellidos %></td>
                  <td>
                    <a href="tel:<%= trabajadores.celular %>">
                      <%= trabajadores.celular %>
                    </a>
                  </td>
                  <td class="text-center m">
                    <a
                      href="/trabajadores_edit/<%= trabajadores.id %>"
                      class="btn btn-success btn-icon btn-sm mt-3"
                    >
                      <i class="fa fa-edit"></i>
                    </a>

                    <button
                      type="button"
                      class="btn btn-danger btn-icon btn-sm delete-button mt-3"
                      data-id="<%= trabajadores.id %>"
                    >
                      <i class="fa fa-trash"></i>
                    </button>

                    <!-- calendario icono  -->
                    <a
                      href="/mostraCalendario/<%= trabajadores.id  %>"
                      class="btn btn-info btn-icon btn-sm mt-3"
                    >
                      <i class="fa fa-calendar"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
        <div class="card  card-plain">


        </div>
      </div> -->
  </div>
</div>

