<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">tareas 👨‍🌾</h4>
          <p class="category">tareas Registradas</p>
        </div>
        <div class="card-body">
          <!-- link con icono de + -->
          <a
            href="#"
            class="btn btn-primary btn-icon btn-sm"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            <i class="fa fa-plus"></i>
          </a>
          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-lg"
              role="document"
            >
              <div class="modal-content" id="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Registrar Tarea
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/rTareas" method="post">
                    <div class="form-group">
                      <label for="trabajador">Trabajador</label>
                      <select
                        class="form-control"
                        id="select"
                        name="trabajador"
                      >
                        <option value="">Selecciona un trabajador</option>
                        <!-- Aquí puedes cargar dinámicamente las opciones de categoría desde la base de datos -->
                        <% trabajadores.forEach(trabajador => { %>
                        <option value="<%= trabajador.id %>">
                          <%= trabajador.nombres %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Descripción</label>
                      <textarea
                        class="form-control"
                        id="descripcion"
                        name="descripcion"
                        rows="3"
                        placeholder="Descripción de la tarea"
                      ></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar Tarea
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin modal -->
          <div class="table-responsive">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Trabajador</th>
                  <th scope="col">Descripcion de la Tarea</th>
                  <th scope="col">Echo</th>
                </tr>
              </thead>
              <tbody>
                <% tareas.forEach((tarea) => { %>
                <tr data-id="<%= tarea.id %>">
                  <th scope="row" style="color: aliceblue"><%= tarea.id %></th>
                  <td>
                    <% trabajadores.forEach(trabajador => { %> <%
                    if(tarea.trabajador_id == trabajador.id) { %> <%=
                    trabajador.nombres %> <% } %> <% }); %>
                  </td>
                  <td><%= tarea.descripcion %></td>
                  <td>
                    <label class="checkbox-btn">
                      <input id="checkbox" type="checkbox" data-id="<%= tarea.id
                      %>" <%= tarea.estado ? 'checked' : '' %> />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll("#checkbox").forEach((checkbox) => {
    checkbox.addEventListener("change", function () {
      const estado = this.checked ? 1 : 0;
      const id = this.dataset.id;

      fetch(`/tareas/${id}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ estado }),
      });
    });
  });
</script>
<style>
  /* Customize the label (the checkbox-btn) */
  .checkbox-btn {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox-btn label {
    cursor: pointer;
    font-size: 14px;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2.5px solid #ffffff;
    transition: 0.2s linear;
  }
  .checkbox-btn input:checked ~ .checkmark {
    background-color: transparent;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 14px;
    border: 2px solid #0ea021;
    filter: drop-shadow(0px 0px 10px #0ea021);
    border-width: 0 2.5px 2.5px 0;
    transition: 0.2s linear;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
  }

  /* Show the checkmark when checked */
  .checkbox-btn input:checked ~ .checkmark:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: pulse 1s ease-in;
  }

  .checkbox-btn input:checked ~ .checkmark {
    transform: rotate(45deg);
    border: none;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
    }
  }
</style>
