<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">tareas 👨‍🌾</h4>
          <p class="category">tareas Registradas</p>
        </div>
        <div class="card-body">
          <!-- link con icono de + -->
          <a
            href="#"
            class="btn btn-primary btn-icon btn-sm"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            <i class="fa fa-plus"></i>
          </a>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-lg"
              role="document"
            >
              <div class="modal-content" id="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Registrar Tarea
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/rTareas" method="post">
                    <div class="form-group">
                      <label for="trabajador">Trabajador</label>
                      <select
                        class="form-control"
                        id="select"
                        name="trabajador"
                      >
                        <option value="">Selecciona un trabajador</option>
                        <!-- Aquí puedes cargar dinámicamente las opciones de categoría desde la base de datos -->
                        <% trabajadores.forEach(trabajador => { %>
                        <option value="<%= trabajador.id %>">
                          <%= trabajador.nombres %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Descripción</label>
                      <textarea
                        class="form-control"
                        id="descripcion"
                        name="descripcion"
                        rows="3"
                        placeholder="Descripción de la tarea"
                      ></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar Tarea
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cerrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin modal -->
          <div class="table-responsive">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Trabajador</th>
                  <th scope="col">Descripcion de la Tarea</th>
                  <th scope="col">Echo</th>
                  <!-- <th scope="col" class="btn-borrar">Borrar</th> -->
                </tr>
              </thead>
              <tbody>
                <% tareas.forEach((tarea) => { %>
                <tr data-id="<%= tarea.id %>">
                  <th scope="row" style="color: aliceblue"><%= tarea.id %></th>
                  <td>
                    <% trabajadores.forEach(trabajador => { %> <%
                    if(tarea.trabajador_id == trabajador.id) { %> <%=
                    trabajador.nombres %> <% } %> <% }); %>
                  </td>
                  <td><%= tarea.descripcion %></td>
                  <td>
                    <label class="checkbox-btn">
                      <input id="checkbox" type="checkbox" placeholder="_"
                      data-id="<%= tarea.id %>" <%= tarea.estado ? 'checked' :
                      '' %> />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <form
                      method="post"
                      class="btn-borrar"
                      style="display: <%= tarea.estado == 1 ? 'block' : 'none' %>"
                      action="/eliminarTarea/<%= tarea.id %>"
                    >
                      <button
                        type="submit"
                        class="btn btn-danger btn-icon btn-sm eliminar-categoria"
                        aria-label="c"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll("#checkbox").forEach((checkbox) => {
    checkbox.addEventListener("change", function () {
      const estado = this.checked ? 1 : 0;
      const id = this.dataset.id;
      const formEliminar =
        this.parentElement.parentElement.nextElementSibling.querySelector(
          ".btn-borrar"
        );

      if (estado == 1) {
        this.parentElement.parentElement.parentElement.style.backgroundColor =
          "rgba(0, 128, 0, 0.5)";
        formEliminar.style.display = "block";
      } else {
        formEliminar.style.display = "none";
        this.parentElement.parentElement.parentElement.style.backgroundColor =
          " rgba(18, 10, 10, 0.6)";
      }

      fetch(`/tareas/${id}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ estado }),
      });
    });
  });
</script>
